# Ignore config files -- downloaded automatically with make
files/.config/kitty/appdirs/
files/.config/kitty/keyring.patch
files/.config/kitty/keyring/
files/.config/kitty/kitty-themes/
files/.config/kitty/prompt_toolkit/
files/.config/kitty/six.py
files/.config/kitty/theme.conf
files/.config/kitty/wcwidth/
files/.config/tmux/
files/.config/htop/
files/.config/coc/
files/.config/kitty/themes/
.DS_Store
*.un~
files/.config/nvim/.netrwhist
files/.config/nvim/autoload/
files/.config/nvim/nvim
files/.config/nvim/sessions/

