# Ignore config files -- downloaded automatically with make
files/.config/kitty/appdirs/
files/.config/kitty/keyring.patch
files/.config/kitty/keyring/
files/.config/kitty/kitty-themes/
files/.config/kitty/prompt_toolkit/
files/.config/kitty/six.py
files/.config/kitty/theme.conf
files/.config/kitty/wcwidth/
files/.config/tmux/plugins
files/.config/htop/
files/.config/kitty/themes/
files/.config/kitty/mplbackend/kitty/__pycache__/
files/.config/kitty/neighboring_window.py
files/.config/kitty/kittens/neighboring_window.py
files/.config/kitty/pass_keys.py
files/.config/kitty/kittens/pass_keys.py
files/.config/TabNine/
files/.config/htop/
files/.config/spotify-tui/.spotify_token_cache.json
files/.config/spotify-tui/client.yml
files/.config/spotifyd/spotifyd.conf
.DS_Store
*.un~
files/.config/nvim/.netrwhist
files/.config/wslu
dotbot/*

files/.config/VirtualBox/VBoxSVC.log
files/.config/VirtualBox/VBoxSVC.log.1
files/.config/VirtualBox/VirtualBox.xml
files/.config/VirtualBox/VirtualBox.xml-prev
files/.config/VirtualBox/compreg.dat
files/.config/VirtualBox/selectorwindow.log
files/.config/VirtualBox/selectorwindow.log.1
files/.config/VirtualBox/xpti.dat
files/.config/zsh/plugins/*
files/.config/gh/hosts.yml


homebrew/Brewfile.lock.json
private/
.bashrc_local

.config/tmux/plugins/tpm
files/.config/github-copilot
files/.config/vifm/vifm-help.txt
files/.config/vifm/vifminfo.json
files/.hammerspoon/

files/.config/kitty/kittens/neighboring_window.py
files/.config/kitty/kittens/pass_keys.py
files/.config/kitty/kittens/termpdf.py
files/.config/spotifyd/rustlang.spotifyd.plist
files/.config/lazygit/state.yml

files/.config/libvirt/qemu/*
files/.config/libvirt/storage/*
files/.config/libvirt/storage/autostart/*
files/.config/libvirt/storage/autostart/*
files/.config/libvirt/storage/*
files/.config/lazygit/state.yml
# 
files/.config/google-chrome
files/.config/pulse
files/.config/browsh/firefox_profile/*
package-lock.json
yarn.lock
node_modules/*
files/.config/inkscape-figures/roots
tags
test.sh
.luarc.json
spell/
lazy-lock.json


# browsers
files/.config/chromium/
files/.config/google-chrome-for-testing/
files/.config/google-chrome/
files/.config/libreoffice/

# node stuff
node_modules
package-lock.sjon
package.sjon
