# Ignore config files -- downloaded automatically with make
files/.config/kitty/appdirs/
files/.config/kitty/keyring.patch
files/.config/kitty/keyring/
files/.config/kitty/kitty-themes/
files/.config/kitty/prompt_toolkit/
files/.config/kitty/six.py
files/.config/kitty/theme.conf
files/.config/kitty/wcwidth/
files/.config/tmux/plugins
files/.config/htop/
files/.config/coc/
files/.config/yarn/
files/.config/kitty/themes/
files/.config/kitty/mplbackend/kitty/__pycache__/
files/.config/TabNine/
files/.config/htop/
files/.config/nvim
.DS_Store
*.un~
files/.config/nvim/.netrwhist
files/.config/nvim/autoload/
files/.config/nvim/nvim
files/.config/nvim/sessions/


.nvimlog
homebrew/Brewfile.lock.json
private/

.config/tmux/plugins/tpm
files/.config/github-copilot
files/.config/vifm/vifm-help.txt
files/.config/vifm/vifminfo.json
files/.hammerspoon/
