[include]
  path = ~/.gitconfig.local
[includeIf "gitdir:~/projects/work/"]
  path = ~/projects/work/.gitconfig.work
[status]
  submoduleSummary = true
[commit]
  template = ~/.gitmessage
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
[core]
  editor = "nvr --remote-wait-silent" # or nvim
  excludesfile ="~/.dotfiles/git/.gitignore_global"
  pager = delta
  ; pager = delta --line-numbers --decorations --side-by-side --theme='gruvbox' --plus-color="#98971a" --minus-color="#9d0006"
[format]
  pretty = format:%C(yellow)%h %Cblue%>(15)%ad %Cgreen%<(15)%aN%Cred%d %Creset%s
[alias]
  pr = "!f() { git fetch upstream refs/pull/$1/head:pr/$1; } ; f"
  fix = "!nvim `git diff --name-only | uniq`"
  # List all aliases.  Stolen from here: https://twitter.com/TrevorBramble/status/774292970681937920
  aliases = "!git config -l | grep ^alias | cut -c 7- | sort"
  # Destroy all local changes and reset to HEAD.
  fuckit = reset --hard HEAD
  fall = fetch --all
  # Reset previous commit, but keep all the associated changes. Useful for avoiding nasty git merge commits.
  uncommit = reset --soft HEAD^
  reset-up = reset --hard $(git upstream)
  sl = log --oneline --decorate -20
  new = checkout -b
[delta]
  ; features = line-numbers
  features = zebra-dark
  line-numbers = true
  ; line-numbers-left-format = ""
  ; line-numbers-right-format = "│ "
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue
  side-by-side = true
  syntax-theme = gruvbox-dark
  theme = gruvbox-dark
  blame-palette = "#202020 #222222 #444444"
  plus-color="#98971a"
  minus-color="#9d0006"
  ; file-decoration-style = none
  hunk-header-style=omit
; [delta "decorations"]
  ; commit-decoration-style = bold yellow box ul
  ; file-style = bold yellow ul
; [interactive]
  ; diffFilter = delta --color-only --syntax-theme=gruvbox
[push]
  default = current
[push]
  followTags = true
[merge]
  conflictstyle = diff3
[pull]
  rebase = true
[rebase]
  autoStash = true
[fetch]
  prune = true
[gitsh]
  prompt = "\n%D %c(%b%#)%w ➜"
[rerere]
  enabled = true
[hub]
  protocol = ssh
[init]
  defaultBranch = main
