// simplified_ui false
// pane_frames false
// repo: https://github.com/dj95/zjstatus
// alternative: https://github.com/cristiand391/zj-status-bar



layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {

                // git branch
                // command_testing_command "git rev-parse --abbrev-ref HEAD"
                // command_testing_command "sh -c \"echo x\""
                // command_testing_format "#[bg=#303030,fg=blue] {stdout} "
                // command_testing_interval "0"
                // command_testing_rendermode "static"


                format_left  "#[bg=#303030,fg=white] {mode}#[bg=#303030,fg=white,bold]{session}  #[bg=#303030,fg=#aaaaaa]{datetime} "
                format_center "{tabs}"
                // format_right "#[bg=#303030,fg=white] {swap_layout}  "
                format_right "#[bg=#303030,fg=#aaaaaa] {command_music} #[bg=#303030,fg=#aaaaaa]{command_cpu} #[bg=#303030,fg=#aaaaaa]{command_memo}"
                // format_right "#[bg=#303030,fg=white] {git_branch}  marromlam "
                format_space  "#[bg=#303030]"


                format_hide_on_overlength "true"
                format_precedence "clr"
















                mode_normal  "#[bg=#303030,fg=white]󱂬#[bg=#303030,fg=white] "
                mode_tmux  "#[bg=#303030,fg=#ffaa00]󱂬#[bg=#303030,fg=white] "
                mode_locked  "#[bg=#303030,fg=#ff0000]󱂬#[bg=#303030,fg=white] "
                // mode_normal        "#[bg=#303030,fg=black]│#[bg=#303030,fg=black] NORMAL "
                // mode_locked        "#[bg=#303030,fg=#303030]│#[bg=red,fg=black]  LOCKED "
                // mode_resize        "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] RESIZE "
                // mode_pane          "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] PANE "
                // mode_tab           "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] TAB "
                // mode_scroll        "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] SCROLL "
                // mode_enter_search  "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] ENTER_SEARCH "
                // mode_search        "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] SEARCH "
                // mode_rename_tab    "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] RENAME_TAB "
                // mode_rename_pane   "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] RENAME_PANE "
                // mode_session       "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] SESSION "
                // mode_move          "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] MOVE "
                // mode_prompt        "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] PROMPT "
                // mode_tmux          "#[bg=#303030,fg=#303030]│#[bg=magenta,fg=black] TMUX "


                // left
                // format_left "{mode}  {session} | {datetime}"
                // // center
                // format_center "#[bg=#ff0000,fg=black]{tabs}"
                // // right
                // format_right  "#[bg=#ff0000,fg=#6867AF,bold]    {command_kubectx}"
          // format_left  "#[bg=#303030,fg=black] {command_host_os_icon} {session} {mode}"
          // format_center "{tabs}"
          // format_right "#[bg=#303030,fg=black] {swap_layout} │ {datetime} "
          // format_space  "#[bg=#303030]"

                // format_right  "#[bg=#${colors.base00},fg=#${colors.base0D}]#[bg=#${colors.base0D},fg=#${colors.base01},bold] #[bg=#${colors.base02},fg=#${colors.base05},bold] {session} #[bg=#${colors.base03},fg=#${colors.base05},bold]"
                // format_space  "#[fg=yellow]-"
                // {session}
                // hide_frame_for_single_pane "false"
                // border_enabled  "false"

                      // border_enabled  "false"
                      // border_char     "─"
                      // border_format   "#[fg=#6C7086]{char}"
                      // border_position "bottom"

                      // indicators
                      // tab_sync_indicator       " "
                      // tab_fullscreen_indicator " 󰊓"
                      // tab_floating_indicator   " 󰹙"





                      // mode_normal        "#[bg=#${colors.base0B},fg=#${colors.base02},bold] NORMAL#[bg=#${colors.base03},fg=#${colors.base0B}]█"
                      // mode_locked        "#[bg=#${colors.base04},fg=#${colors.base02},bold] LOCKED #[bg=#${colors.base03},fg=#${colors.base04}]█"
                      // mode_resize        "#[bg=#${colors.base08},fg=#${colors.base02},bold] RESIZE#[bg=#${colors.base03},fg=#${colors.base08}]█"
                      // mode_pane          "#[bg=#${colors.base0D},fg=#${colors.base02},bold] PANE#[bg=#${colors.base03},fg=#${colors.base0D}]█"
                      // mode_tab           "#[bg=#${colors.base07},fg=#${colors.base02},bold] TAB#[bg=#${colors.base03},fg=#${colors.base07}]█"
                      // mode_scroll        "#[bg=#${colors.base0A},fg=#${colors.base02},bold] SCROLL#[bg=#${colors.base03},fg=#${colors.base0A}]█"
                      // mode_enter_search  "#[bg=#${colors.base0D},fg=#${colors.base02},bold] ENT-SEARCH#[bg=#${colors.base03},fg=#${colors.base0D}]█"
                      // mode_search        "#[bg=#${colors.base0D},fg=#${colors.base02},bold] SEARCHARCH#[bg=#${colors.base03},fg=#${colors.base0D}]█"
                      // mode_rename_tab    "#[bg=#${colors.base07},fg=#${colors.base02},bold] RENAME-TAB#[bg=#${colors.base03},fg=#${colors.base07}]█"
                      // mode_rename_pane   "#[bg=#${colors.base0D},fg=#${colors.base02},bold] RENAME-PANE#[bg=#${colors.base03},fg=#${colors.base0D}]█"
                      // mode_session       "#[bg=#${colors.base0E},fg=#${colors.base02},bold] SESSION#[bg=#${colors.base03},fg=#${colors.base0E}]█"
                      // mode_move          "#[bg=#${colors.base0F},fg=#${colors.base02},bold] MOVE#[bg=#${colors.base03},fg=#${colors.base0F}]█"
                      // mode_prompt        "#[bg=#${colors.base0D},fg=#${colors.base02},bold] PROMPT#[bg=#${colors.base03},fg=#${colors.base0D}]█"
                      // mode_tmux          "#[bg=#${colors.base09},fg=#${colors.base02},bold] TMUX#[bg=#${colors.base03},fg=#${colors.base09}]█"


                // 
                // ●
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                // 
                //  
                // 
                // 
                // 
                // 
                // 
                // 
                // 󰀱
                // 󰚄
                // 󰝆
                // 󰡄
                // 󰨈
                // 󰩖
                // 󰩗
                // 󱂡
                // 󱂛
                // 󱂑
                // 󱂐
                // 󱂏
                // 󱂎
                // 󱂍
                // 󱂌
                // 󱂋
                // 󱂊
                // 󱂉
                // 󱂅
                // 󱂈
                // 󰟹
                // 󰟯
                // 󰟲
                // 󰟰
                // 󰟽
                // 󰎢
                // 󰎣
                // 󰎥
                // 󰎦
                // 󰎨
                // 󰎩
                // 󰎫
                // 󰎬
                // 󰎲
                // 󰎮
                // 󰎯
                // 󰎰
                // 󰎴
                // 󰎵
                // 󰎷
                // 󰎸
                // 󰎺
                // 󰎻
                // 󰎽
                // 󰎾   
                // mode_normal        "#[bg=#89B4FA] {name} "
                // mode_locked        "#[bg=#89B4FA] {name} "
                // mode_resize        "#[bg=#89B4FA] {name} "
                // mode_pane          "#[bg=#89B4FA] {name} "
                // mode_tab           "#[bg=#89B4FA] {name} "
                // mode_scroll        "#[bg=#89B4FA] {name} "
                // mode_enter_search  "#[bg=#89B4FA] {name} "
                // mode_search        "#[bg=#89B4FA] {name} "
                // mode_rename_tab    "#[bg=#89B4FA] {name} "
                // mode_rename_pane   "#[bg=#89B4FA] {name} "
                // mode_session       "#[bg=#89B4FA] {name} "
                // mode_move          "#[bg=#89B4FA] {name} "
                // mode_prompt        "#[bg=#89B4FA] {name} "
                // mode_tmux          "#[bg=#ffc387] {name} "

                // formatting for inactive tabs
                // tab_normal              "#[fg=#6C7086]{name}"
                // tab_normal_fullscreen   "#[fg=#6C7086]{name}"
                // tab_normal_sync         "#[fg=#6C7086]{name}"

            // tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            // tab_active               "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
          // tab_normal "#[bg=#303030,fg=black] #[bg=#303030,fg=black]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=#303030,fg=black]"
          // tab_active "#[bg=black,fg=#303030] #[bg=black,fg=#303030]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=black,fg=#303030]"
          //   tab_fullscreen_indicator "□ "
          //   tab_sync_indicator       "  "
          //   tab_floating_indicator   "󰉈 "


          // Tab indices formatter for circled numbers
          // tab_index_formatter "sh -c 'index=$1; case $index in 1) echo \"①\";; 2) echo \"②\";; 3) echo \"③\";; 4) echo \"④\";; 5) echo \"⑤\";; 6) echo \"⑥\";; 7) echo \"⑦\";; 8) echo \"⑧\";; 9) echo \"⑨\";; 10) echo \"⑩\";; *) echo \"$index\";; esac'"

                // formatting for the current active tab
                // tab_active              "#[fg=blue,bold]{name}#[fg=yellow,bold]{floating_indicator}"
                // tab_active_fullscreen   "#[fg=yellow,bold]{name}#[fg=yellow,bold]{fullscreen_indicator}"
                // tab_active_sync         "#[fg=#303030,bold]{name}#[fg=yellow,bold]{sync_indicator}"

                // separator between the tabs
                // tab_separator           "#[fg=cyan,bold] "

                // indicators
                // tab_sync_indicator       " "
                // tab_fullscreen_indicator " "
                // tab_floating_indicator   ""
                // tab_sync_indicator       "󰓦 "
                // tab_fullscreen_indicator "󱟱  "
                // tab_floating_indicator   "󰉈 "

        // tabs {{{
        // tab_normal "#[bg=#303030,fg=#aaaaaa] {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=#303030,fg=black]"
        // tab_active "#[bg=#303030,fg=#ffffff] {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=black,fg=#303030]"
        tab_normal "#[bg=#303030,fg=#aaaaaa] {index} {sync_indicator}{fullscreen_indicator}"
        tab_active "#[bg=#303030,fg=#ffffff,bold] {index} {sync_indicator}{fullscreen_indicator}"
        tab_rename "#[fg=#303030,bg=#aaaaaa] {index}.{name} {sync_indicator}{fullscreen_indicator}"
        // limit tab display count
        tab_display_count         "9"  // limit to showing 3 tabs
        tab_truncate_start_format "#[fg=#aaaaaa,bg=#303030] 􀁳 "
        tab_truncate_end_format   "#[fg=#aaaaaa,bg=#303030] 􀁵 "
        // tab indicators
        tab_sync_indicator       "󰓦 "
        tab_fullscreen_indicator "󱟱  "
        tab_floating_indicator   "󰉈 "
        // }}}




        // git profile
        command_kubectx_command  "$(gh auth status | grep -B1 \"Active account: true\" | head -n 1 |awk '{for(i=1;i<=NF;i++) if($i==\"account\") print $(i+1)}')"
        command_kubectx_format   "#[fg=#6C7086,bg=#181825,italic] {stdout}"
        command_kubectx_interval "2"
        // git branch
        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"
        // host os
        command_host_os_icon_command    "sh -c \"echo $(uname -s | grep -qi 'darwin' && echo '󰀵')$(uname -s | grep -qi 'linux' && echo '')$(uname -s | grep -qi 'nt' && echo '󰖳')\""
        command_host_os_icon_format     "{stdout}"
        command_host_os_icon_interval   "0"
        command_host_os_icon_rendermode "static"
        // time
        datetime          "{format}"
        datetime_format   "%H:%M"
        datetime_timezone "Europe/Berlin"


        command_memo_command    "/Users/marcos/.dotfiles/scripts/mem_pressure"
        command_memo_format     " {stdout}"
        command_memo_interval   "5"
        command_memo_rendermode "static"

        command_cpu_command    "bash -c ~/.config/zellij/./shell/usage.sh"
        command_cpu_format     " {stdout}%"
        command_cpu_interval   "5"
        command_cpu_rendermode "static"

        // command_weather_command     "bash -c ~/.config/zellij/shell/weather.sh"
        // command_weather_format      "{stdout}"
        // command_weather_interval    "3600"
        // command_weather_rendermode  "static"

        command_music_command     "bash -c ~/.config/zellij/shell/song.sh cider" /*pass player name as argument*/
        command_music_format      "♫ {stdout}"
        command_music_interval    "3"
        command_music_rendermode  "static"



            }
        }
        children
    }

    tab name="󰎦" focus=true borderless=true    
    tab name="󰎩"
    tab name="󰎬"
}

// vim: fdm=marker
